
/*-------------------------------------------------BOTON CONTACTO---------------------------------------------------------*/
/*Se define tamaño de boton*/
.button--size{
    @include sizes(2.5rem, 5rem);
}
/*Estilo de botón ENVIAR*/
.boton{
    padding: 0.1rem;
    font-family: $letra_monserrat;
    border-color: green;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        border-color: rgb(4, 250, 4);
        box-shadow: 0 0 5px rgb(4, 250, 4);
        border-width:3px;
    }
}

/*----------------------------------------------------BOTON MENU----------------------------------------------------------*/
/*posicionamiento del botón volver a la página de menúes*/
.button--position{
    @include flex-row-center;
}

/*formato del texto dentro del botón*/
.boton_volver{
    @extend .boton;
    @include sizes (25px,150px);
    font-size: 1.2rem;
    font-family: $letra_indieflower;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px;
    text-align: center;
    border-radius: 0.5rem;
    color: black;
    background-color: $background_color;
    padding: 0.5rem;
}
