/*Para redefinir altura y ancho de un elemento*/
@mixin sizes ($height, $width){
    height: $height;
    width: $width;
}

/*Para redefinir las áreas con grid*/
@mixin display_aligment ($display, $grid-template-columns, $grid-template-rows, $justify-content, $align-content){
    display: $display;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    justify-content: $justify-content;
    align-content: $align-content;
}

/*Para redefinir gap y padding del grid*/
@mixin grid_aligment ($gap, $padding){
    gap: $gap;
    padding: $padding;
}


/*Para redefinir las áreas con grid*/
@mixin display_aligment_responsive ($display, $grid-template-columns, $grid-template-rows, $justify-content, $align-content){
    display: $display;
    grid-template-columns: $grid-template-columns;
    grid-auto-rows: $grid-template-rows;
    justify-content: $justify-content;
    align-content: $align-content;
}

/*Tipos de flex*/
@mixin flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

@mixin flex-column-center{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

@mixin flex-column-spacebetween{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

@mixin flex-row-spacebetween{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

@mixin flex-column-flexstart{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}

@mixin flex_column_spacearound{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@mixin flex_wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

